.bg-primary {
  background-color: #2b4b40 !important;
}

.bg-secondary {
  background-color: #302f2f !important;
}

.masthead .masthead-subheading {
  font-size: 1.25rem;
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}

hr.star-light, hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid .25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 1.3rem;
  text-align: justify;
}

section {
  padding: 4rem 0;
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 4rem;
}

.img-fluid {
  max-width: auto;
  max-height: auto;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2b4b40;
  color: #fff;
}

.copyright {
  background-color: #302f2f;
}

